/*font colors*/
$color-font-dark: #000000  
$color-font-main: #c5c5c5 
$color-font-light: #ffffff
$color-font-title: #9ab4b3

$color-madia-items: #9ab4b3
$color-madia-items-hover: #000000  

$color-icons: #000000

$color-border: #e5e5e5
$color-background: #9ab4b3

/*font*/
$font-family: 'RobotoRegular', sans-serif 
$font-italy: 'CrimsonText', sans-serif 
$base-font-size: 16px;

%menu 
    list-style: none
    font-size: 0px
    padding: 0

%menu-item
    display: inline

%menu-link
    text-decoration: none
    padding: 0.125rem 1.87rem
    font-size: 1rem

@mixin link-color($color, $color-hover, $color-bg-hover) 
    color: $color   
    transition: all 0.5s	 

    &:hover 
        color: $color-hover
        background-color: $color-bg-hover
        cursor: pointer

