/*font colors*/
$color-font-dark: #000000  
$color-font-main: #c5c5c5 
$color-font-light: #ffffff
$color-font-title: #9ab4b3

$color-madia-items: #9ab4b3
$color-madia-items-hover: #000000  

$color-icons: #000000

$color-border: #e5e5e5
$color-background: #9ab4b3

/*font*/
$font-family: 'Oswald', sans-serif 
$base-font-size: 16px;

