@import "vars.sass"

body
	font-size: $base-font-size
	min-width: 320px
	position: relative
	line-height: 1.6
	//font-family: "RobotoRegular", sans-serif
	font-family: $font-family
	overflow-x: hidden

.container 
	max-width: 1180px
	margin: 0 auto
	padding: 0 10px
	color: $color-font-main

header
	border-bottom: 1px solid $color-border

	.logo
		margin: 40px 0 30px 0

		h1
			font-size: 1.5rem
			color: $color-font-dark
			text-align: center
			text-transform: uppercase
	
	nav
		margin: 0 0 10px 0
		color: $color-font-dark
		text-transform: uppercase

		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center

		.search,
		.basket 
			font-size: 1.3rem

		.top-menu
			@extend %menu

			.top-menu-item
				@extend %menu-item

				.top-menu-link
					@extend %menu-link						
					@include button-color($color-font-dark, $color-font-light, $color-font-title) 				




	