@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

.about-top
	margin: 20px -10px
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center	

	.about-top-item		
		margin: 0 10px
		position: relative		
		transition: all 1s	
		font-size: 0		
		
		&:hover .hover-text
			display: flex	
			animation-name: fadeIn
			animation-duration: 1s		

		img
			width: 100%

		.hover-text
			cursor: pointer
			display: none
			flex-direction: column
			justify-content: center			
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			background-color: $color-background
			text-align: center
			color: $color-font-light
			padding: 1rem

			h4
				font-style: italic
				font-size: 1rem
				font-weight: 600

			span
				font-size: 4rem
				text-transform: uppercase
				position: relative
				letter-spacing: 0.5rem
				line-height: 1
				
				&:after
					content: ''
					display: block
					position: absolute
					bottom: -1.5rem
					left: 0
					right: 0
					height: 0.1rem					
					width: 3rem
					margin: 0 auto					
					background-color: $color-font-light	
			

		

.about-menu
	margin: 0 -10px
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center

	.about-menu-item
		margin: 0 10px
		position: relative

		img
			width: 100%

		.describe
			position: absolute
			bottom: 10%
			left: 0
			margin: 0 10%
			padding: 5%
			background-color: #fff
			width: calc(100% - 30%)
			text-align: center
			box-shadow: 0px 0px 0px 1px #c5c5c5, 0px 0px 0px 10px #fff

			h3
				margin: 5% 0
				color: $color-font-title
				text-transform: uppercase	

			p
				margin: 5% 0
			


.hidden
	display: none


//ALWAYS END
@import "media"
